
<div class="wrapper">
    <div class="sidemenu">
        <ul class="list-group mr-10">
            <li routerLink="/array-example" class="list-group-item">Array Example</li>
            <li routerLink="/ls-example" class="list-group-item">Local Storage</li>
            <li routerLink="/sign-in" class="list-group-item">Sign In</li>
            <li routerLink="/sign-up" class="list-group-item">Sign Up</li>
            <li routerLink="/typescript" class="list-group-item">Typescript</li>
            <li routerLink="/pipe" class="list-group-item">Pipe Example</li>
            <li routerLink="/products" class="list-group-item">Products</li>
        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
