<app-header *ngIf="username" [username]="username" (childToParent)="childToParent($event)"></app-header>

<div class="wrapper">
    <div class="sidemenu">
        <ul class="list-group mr-10">

            <ng-container *ngIf="!username">
                <li routerLink="/sign-in" class="list-group-item">Sign In</li>
                <li routerLink="/sign-up" class="list-group-item">Sign Up</li>
            </ng-container>


            <ng-container  *ngIf="username">
                <li routerLink="/array-example" class="list-group-item">Array Example</li>
                <li routerLink="/ls-example" class="list-group-item">Local Storage</li>
                <li routerLink="/typescript" class="list-group-item">Typescript</li>
                <li routerLink="/pipe" class="list-group-item">Pipe Example</li>
                <li routerLink="/products" class="list-group-item">Products</li>
                <li routerLink="/posts" class="list-group-item">Posts</li>
                <li routerLink="/animation" class="list-group-item">Animation</li>
            </ng-container>
        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>

<app-footer></app-footer>